*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.student-details__section{
    margin: 30px auto;
    text-align: center;
}
.student-input__section{

     padding: 10px;

    .dropDown{
        width: 140px;
        height: 30px;
    }
    .inputField{
        width: 180px;
        height: 30px;
        border-radius: 15px;
        padding-left: 10px;
    }
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #0dbcc2;
}